body{
    background-color: rgb(205, 243, 243);
}

header h1{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;

    margin: 70px 70px;
    padding: 0px;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}

div button{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 15px;
}